USE [master]
GO
/****** Object:  Database [QLMonHoc]    Script Date: 12/17/2023 9:57:50 AM ******/
CREATE DATABASE [QLMonHoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMonHoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLMonHoc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLMonHoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLMonHoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMonHoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLMonHoc]
GO
/****** Object:  User [hoatdfk]    Script Date: 12/17/2023 9:57:50 AM ******/
CREATE USER [hoatdfk] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[MonHocs]    Script Date: 12/17/2023 9:57:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHocs](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](200) NULL,
	[SoDVHT] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MonHocs] ON 

INSERT [dbo].[MonHocs] ([MaMon], [TenMon], [SoDVHT]) VALUES (1, N'Lập trình JAVA', 3)
INSERT [dbo].[MonHocs] ([MaMon], [TenMon], [SoDVHT]) VALUES (2, N'PHP', 1)
INSERT [dbo].[MonHocs] ([MaMon], [TenMon], [SoDVHT]) VALUES (3, N'Python', 2)
SET IDENTITY_INSERT [dbo].[MonHocs] OFF
GO
USE [master]
GO
